
.splashImage {
    height: 320px;
    width: auto;
    background-color: lightgray;
    margin-top: 5px;
    background-image: url(../images/solo-project-background.jpg);
    object-position: right top;
    background-position-y: 68%;
    background-position-x: 50%;

}

/* .backgroundImg {
    height: 40vh;
    width: auto; 
    /* object-fit: cover; */
    /* object-position: 100% 0;
} */

#state1,
#state2,
#state3,
#state4,
#state5,
#state6,
#state7,
#state8,
#state9,
#state10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1;
    height: 200px;
    width: 200px;
   
}

.id,
.ca,
.ut,
.wa,
.wy,
.nm,
.co,
.az,
.or,
.tx
{
    height: 150px;
    width: 150px; 
    border-radius: 50%;
}

.statesDiv{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
}

.rentalsDiv{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    
    
}

.rentals{
    height: 355px;
    width: 302px;
    /* background-color: lightgray; */
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    justify-content: baseline;
    /* flex: 1 1; */
    /* align-items: center; */
    
    
}

.rentals:hover {
    box-shadow: 2px 2px 4px 2px rgb(0,0,0,0.2);
}

.rentalPhoto{
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5%;
    height: 300px;
    width: 300px;
}
.rentalInfoDiv {
    display: flex;
    /* border: 2px solid red; */
    width: 300px;
    justify-content: space-between;
    align-items: flex-start;
    /* align-content: flex-start; */

}

.rentalTitle{
    width: 150px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
   
   
}

.rentalPrice{
    /* align-self: flex-start; */
    /* border: 2px solid black; */
    margin: 5px;
    
}

.titleLink {
    text-decoration: none;
    color: black;
}

.id:hover,
.ca:hover,
.ut:hover,
.wa:hover,
.wy:hover,
.nm:hover,
.co:hover,
.az:hover,
.or:hover,
.tx:hover
{
    box-shadow: 2px 2px 4px 2px rgb(0,0,0,0.2);
}



