.topInfoDiv {
    width: 65%;
    margin-left: 50px;
}

#photoAndMapDiv{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.singleHousePhotoDiv{
    display: flex;
    max-height: 500px;
    max-width: 65%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 2px rgb(0,0,0,0.2);
    /* border: 2px solid red; */
}

#mainPhoto{
    max-height: 415px;
    max-width: 415px;
    width: 50%;
    margin: 5px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.smallPhotoDiv{
    /* border: 2px solid purple; */
    display: flex;
    flex-wrap: wrap;
    max-width: 425px;
    max-height: 425px;
    width: 50%;
    height: auto;
    overflow: scroll;
}

.smallPhoto{
    max-width: 200px;
    width: 50%;
    max-height: 200px;
    /* height: auto; */
    margin: 5px;
}

#photoTwo {
    border-top-right-radius: 5%;
}

#photoFour {
    border-bottom-right-radius: 5%;
}

#mapAndReservationDiv{
    margin-left: 20px;
}

#googleMap{
    width: 400px;
    height: 275px;  
    border: 0;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 2px 2px 5px 2px rgb(0,0,0,0.2);
}

.reservationDiv {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: baseline; 
    background-color: rgb(249, 89, 79);
    box-shadow: 2px 2px 5px 2px rgb(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 20px;
}

#reservationInfo{
    text-align: center;
    color: white;
    font-size: 150%;
    margin-bottom: 20px;
}

#reservationInfo,
#startDate,
#endDate {
    margin: 10px;
}

.dateDiv{
    width: 315px;
    text-align: center;
    align-self: center;
}

.mainDateDiv{
    background-color: white;
    width: 335px;
    height: 100px;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    border-radius: 10px;
}

.infoDiv{
    width: 65%;
    margin-left: 50px;
}

#hostAvatar{
    width: 55px;
    border-radius: 50%;
    align-self: flex-end;
    margin-left: 20px;
    margin-bottom: 10px;
}

#hostInfo{
    margin-top: 40px;
    display: flex;
    align-content: center;
}

#rentalConfirmation {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    background-color: rgb(249, 89, 79);
    box-shadow: 2px 2px 5px 2px rgb(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 20px;
}

#rentalConfirmation > h1 {
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

#rentalConfirmation > p {
    margin: 5px;
    text-align: center;
    color: white;
}

.amenities,
.reviews {
    width: 65%;
    margin-left: 50px;
}

.icon{
    margin-right: 12px;
    width: 20px;
}

.headings {
    border-bottom: 1px solid lightgray;
}

.input{
    width: 65%;
    height: 50px;
}

.reviewText{
    padding:none;
    margin-left: -40px;
}





