/* body {
    background-image: url('');
} */

.formContainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 20%;
    
}
.signUpForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    border-radius: 2%;
    background-color: rgba(0,0,0, 0.7);
}

.formName {
    align-self: center;
    color: white;
}

.input {
    margin: 10px;
}