.navbar {
    background-color: white;
    height: 4em;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 3px 5px -5px rgba(0,0,0, 0.6);
}

.links {
    display: flex;
    width: 90%;
    justify-content: flex-end;
 
}
.login,
.signup{
    margin: 7px;
    text-decoration: none;
    align-self: flex-end;
    font-size: 1.4rem;
    color: rgb(249, 89, 79)
}

.logo {
    width: 200px;
}

.avatarImg{
    width: 58px;
    border-radius: 50%;
    align-self: flex-end;
    /* border: 2px solid black; */
    
}
.avatarImg:hover{
    cursor: pointer;
}

.avatarButton,
.avatarButton:active {
    background-color: white;
    outline: none;
    border: none;
    width: 60px;
    border-radius: 50%;
    align-self: flex-end;
    
}

.loggedUser {
    /* border: 2px solid red; */
    width: 70px;
    
}

.searchAndAvatarDiv{
    display: flex;
    /* border: 2px solid black; */
    width: 65%;
    justify-content: space-between; 
    margin-right: 30px;
}

.formDiv{
    border: 2px solid lightgray;
    border-radius: 20px;
    height: 45px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 65%;
}
.searchBarLogged{
    width: auto;
    /* border-radius: 15px;  */
    padding: 5px;
    margin-left:5px;
    /* outline: none; */
    border: none;
    font-size: 13px;
    background: none;
    

}

.menuDropdown{
    transform: translateX(-50%);
    background-color: rgba(0,0,0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 150px;

}

.searchBarBtn{
    background-color: white;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 8px;
    border: none;
    color: gray;
    font-size: 20px;
   
    
}

.searchBarBtn:hover{
    cursor: pointer;
}

.dateDiveSearch{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.searchDateLabel,
.searchDateInput {
    display: block;
    border: none;
    color: grey;
    font-size: 13px;
   margin-left: 5px;
    
}







